@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/ProximaNovaRegular.eot");
  src: url("../assets/fonts/ProximaNovaRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/ProximaNovaRegular.woff") format("woff"),
    url("../assets/fonts/ProximaNovaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: "Proxima Nova", sans-serif;
  }
}
